## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [73]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
clean_df = application_df.drop(columns=['EIN','NAME'])
clean_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [74]:
# Determine the number of unique values in each column.
clean_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [75]:
clean_df['AFFILIATION'].value_counts()

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [76]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
df = clean_df['AFFILIATION'].value_counts()
affiliation_types_to_replace = [index for index,x in df.items() if x < 1000]

# Replace in dataframe
for app in affiliation_types_to_replace:
    clean_df['AFFILIATION'] = clean_df['AFFILIATION'].replace(app,"Other")

# Check to make sure binning was successful
clean_df['AFFILIATION'].value_counts()

Independent         18480
CompanySponsored    15705
Other                 114
Name: AFFILIATION, dtype: int64

In [77]:
clean_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [78]:
# Create list with the high end income
high_income = ['10M-50M', '50M+']

# Replace in Dataframe
for income in high_income:
  clean_df['INCOME_AMT'] = clean_df['INCOME_AMT'].replace(income,'10M+')

# Check the changes
clean_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M+               379
5M-10M             185
Name: INCOME_AMT, dtype: int64

In [79]:
# Look at APPLICATION_TYPE value counts for binning
clean_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [80]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
df = clean_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = [index for index,x in df.items() if x < 100]

# Replace in dataframe
for app in application_types_to_replace:
    clean_df['APPLICATION_TYPE'] = clean_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
clean_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [81]:
# Look at CLASSIFICATION value counts for binning
clean_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [82]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts = clean_df['CLASSIFICATION'].value_counts()
filtered_counts = counts[counts > 1]
print(filtered_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [83]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
df = clean_df['CLASSIFICATION'].value_counts()
classifications_to_replace = [index for index, x in df.items() if x < 100]

# Replace in dataframe
for cls in classifications_to_replace:
    clean_df['CLASSIFICATION'] = clean_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
clean_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [84]:
clean_copy_df = clean_df.copy()
clean_df['ASK_AMT'].value_counts()

5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [85]:
clean_copy_df['ASK_AMT'].value_counts()

5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [86]:
clean_df = clean_copy_df.copy()
df = clean_df['ASK_AMT'].value_counts()
ask_amt_types_to_replace = [index for index, x in df.items() if index > 5000]
# ask_greater_than_5000 = [index for index, x in df.items() if index > 5000]
# ask_greater_than_10000 = [index for index, x in df.items() if index >= 10000 and index < 50000]
# ask_greater_than_50000 = [index for index, x in df.items() if index >= 50000 and index < 100000]
# ask_greater_than_100000 = [index for index, x in df.items() if index >= 100000 and index < 1000000]
# ask_greater_than_1000000 = [index for index, x in df.items() if index >= 1000000 and index < 5000000]
# ask_greater_than_5000000 = [index for index, x in df.items() if index >= 5000000]

# Replace in dataframe
for ask in ask_amt_types_to_replace:
  clean_df['ASK_AMT'] = clean_df['ASK_AMT'].replace(ask,'>5000')
# for ask in ask_greater_than_5000:
#   clean_df['ASK_AMT'] = clean_df['ASK_AMT'].replace(ask, '>5000')
# for ask in ask_greater_than_10000:
#   clean_df['ASK_AMT'] = clean_df['ASK_AMT'].replace(ask, '>10000')
# for ask in ask_greater_than_50000:
#   clean_df['ASK_AMT'] = clean_df['ASK_AMT'].replace(ask, '>50000')
# for ask in ask_greater_than_100000:
#   clean_df['ASK_AMT'] = clean_df['ASK_AMT'].replace(ask, '>100000')
# for ask in ask_greater_than_1000000:
#   clean_df['ASK_AMT'] = clean_df['ASK_AMT'].replace(ask, '>1000000')
# for ask in ask_greater_than_5000000:
#   clean_df['ASK_AMT'] = clean_df['ASK_AMT'].replace(ask, '>5000000')

# Check
clean_df['ASK_AMT'].value_counts()

5000     25398
>5000     8901
Name: ASK_AMT, dtype: int64

In [87]:
# Convert categorical data to numeric with `pd.get_dummies`
clean_df_dummies = pd.get_dummies(clean_df)
clean_df_dummies.head()

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M+,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_5000,ASK_AMT_>5000
0,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
3,1,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
4,1,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1

In [88]:
# Split our preprocessed data into our features and target arrays
X = clean_df_dummies.drop(columns='IS_SUCCESSFUL')
y = clean_df_dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y)

In [89]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [91]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=12, activation='relu',input_dim=47))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 12)                576

 dense_16 (Dense)            (None, 10)                130

 dense_17 (Dense)            (None, 1)                 11

=================================================================
Total params: 717
Trainable params: 717
Non-trainable params: 0
_________________________________________________________________

In [92]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [93]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=25)

Epoch 1/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5908 - accuracy: 0.7013
Epoch 2/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5566 - accuracy: 0.7278
Epoch 3/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7294
Epoch 4/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5501 - accuracy: 0.7296
Epoch 5/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7300
Epoch 6/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7303
Epoch 7/25
804/804 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7306
Epoch 8/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7310
Epoch 9/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7320
Epoch 10/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7325
Epoch 11/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7327
Epoch 12/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7319
Epoch 13/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7319
Epoch 14/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7330
Epoch 15/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7336
Epoch 16/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7335
Epoch 17/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7332
Epoch 18/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7339
Epoch 19/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7326
Epoch 20/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7332
Epoch 21/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7332
Epoch 22/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7339
Epoch 23/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7349
Epoch 24/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7342
Epoch 25/25
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7361

In [94]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss:.3f}, Accuracy: {model_accuracy:.2%}")

268/268 - 0s - loss: 0.5499 - accuracy: 0.7262 - 399ms/epoch - 1ms/step
Loss: 0.550, Accuracy: 72.62%

In [95]:
# Export our model to HDF5 file
nn.save('deep_learning_model.h5')